id ICON "sc2ma.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "dimfish"
      VALUE "FileDescription", "SC2 Map Analyzer"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "sc2mapanalyzer"
      VALUE "LegalCopyright", "James C. Jenista"
      VALUE "OriginalFilename", "sc2mapanalyzer.exe"
      VALUE "ProductName", "SC2 Map Analyzer"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
